@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

:root {
    --clr-main: #ce267a;
    --clr-main-light: #ffa9e8;
    --clr-lilac: #da70ef;
    --clr-gray: #838fa1;
    --clr-white: #ffffff;
    --clr-pinkl: #f1b3eda3;
    --clr-red:red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.cuerpo{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: pink;
}

aside{
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-lilac);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 1.5rem;
    font-style: oblique;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.boton-aside{
    background-color: transparent;
    border: 0;
    color: var(--clr-lilac);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 15px;
    width: 100%;
}

.active{
    background-color: var(--clr-lilac);
    color: var(--clr-main);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.boton-carrito{
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-lilac);
    color: var(--clr-white);
    padding: .15rem .25rem;
    border-radius: .25rem;
}



.footer{
    color:var(--clr-gray);
    font-size: 1rem;
}

main{
    background-color: var(--clr-lilac);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal{
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-producto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.producto-detalles{
    background-color: var(--clr-main);
    color: var(--clr-main-light);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.producto-titulo{
    font-size: 1,5rem;
}

.producto-agregar{
    border: 0;
    background-color: var(--clr-main-light);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover{
    background-color: var(--clr-main);
    color: var(--clr-main-light);
}

/* carrito */

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio, .carrito-comprado{
    display: ;
    color:var(--clr-main);
}

.carrito-contenidos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-contenido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-pinkl);
    color: var(--clr-white);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-contenido-imagen{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
}

.carrito-contenido small{
    font-size: 1rem;
}

.carrito-contenido-eliminar{
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-vaciar{
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main-light);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-d{
    display: flex;

}

.total-compra{
    display: flex;
    background-color: var(--clr-pinkl);
    padding: 1rem;
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-transform: uppercase;
    gap: 1rem;
}

.pagar{
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-main-light);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}